@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#forms{
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    gap: 5px;
    margin-left: 15px;
}
#titulo_quiz{
    display: flex;
    justify-content: center;
}
#identificacao{
    display: flex;
    flex-direction: row;
}
.caixa_resposta{
    width: 120px;
    margin-bottom: 20px;
    font-family: Josefin-sans, sans-serif;
}

.enviar{
    height: 25px;
    width:80px;
    font-family: Josefin-sans, sans-serif;
}

#rodape{
    display: flex;
    padding: 20px;
    margin-top: 30px;
    font-family: Josefin-sans, sans-serif;
    justify-content: center;
    font-size: 20px;
}